{% extends 'base_generic.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="card-box">
                <h6>Afatet e Provimeve</h6>
                <small class="faded">Afatet per paraqitjen e provimeve</small>
                <br>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ formset.management_form }} {% for form in formset %}
                        {{ form.id }}
                        <div id="form">
                            <div class="form-group form-inline">
                                <div class="smaller-inputs">
                                    {{ form.emri }}
                                </div>&nbsp;&nbsp;
                                <div class="form-check">
                                    {{ form.aktiv }}
                                    <label class="form-check-label" for="{{ form.aktiv.auto_id}}">
                                        Aktiv
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if formset|length == 0 %}
                    <p class="lead">Asnje afat nuk u gjet</p>
                    {% endif %}
                    <br>
                    <a href="#" onclick="addAfat()" class="float-left btn btn-primary">+</a>
                    <input type="submit" value="Ruaj" class="float-right btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script>

    var form = $("#form");

    var els = 0;

    form.each(function(i, el) {
        if ($(el).attr('class') == 'form-group') {
            els++;
        }
    });

    function addAfat() {
        els++;
        var div = '<div class="form-group form-inline">' +
                    '<div class="smaller-inputs">' +
                    '    <input type="text" name="form-'+ (els) +'-emri" value="" class="form-control" maxlength="200" id="id_form-'+ els +'-emri">' +
                    '</div>&nbsp;&nbsp;' +
                    '<div class="form-check">' +
                    '    <input type="checkbox" name="form-'+ els +'-aktiv" id="id_form-'+ els +'-aktiv">' +
                        '<label class="form-check-label" for="id_form-'+ els +'-aktiv">' +
                            'Aktiv' +
                        '</label>' +
                    '</div>' +
                '</div>';
        form.append(div);
    }
</script>
{% endblock %}