{% extends 'base_generic.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="card-box">
                <h6>Afatet e Provimeve</h6>
                <small class="faded">Afatet per paraqitjen e provimeve</small>
                <hr>
                <!-- <br> -->
                <form method="post">
                    {% csrf_token %}
                    <table>
                        <thead>
                            <tr>
                                <th style="max-width: 40px">Aktiv</th>
                                <th>Emri</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                    {{ formset.management_form }} {% for form in formset %}
                            {{ form.id }}
                            <tr>
                                <td style="max-width: 40px" class="text-center">{{ form.aktiv }}</td>
                                <td>{{ form.emri }}</td>
                                <td class="text-center">{% if form.id.value %}<small><a class="text-danger" href="{% url 'delete_afat' pk=form.id.value %}">Fshije</a></small>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if formset|length == 0 %}
                    <p class="lead">Asnje afat nuk u gjet</p>
                    {% endif %}
                    <br>
                    <a href="{% url 'administrator' afat_extra=extra|add:1 %}" class="float-right btn btn-primary">+</a>
                    <input type="submit" value="Ruaj ndryshimet" class="float-left btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
