{% extends 'base_generic.html' %} {% block content %}
<div class="container">
    <form method="post">{% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-8 col-xs-12">
                <div class="card-box">
                    <h6>Add Course</h6>
                    <div class="form-group">
                        <span class="faded">Course name</span> {{ form.name }}
                    </div>
                    <div class="form-group">
                        <span class="faded">Summary</span> {{ form.summary }}
                    </div>
                    <div class="form-group">
                        <span class="faded">Credits</span> {{ form.credits }}
                    </div>
                </div>
                <div class="card-box">
                    <h6>Date</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="faded">Start</span> {{ form.start_date }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="faded">End</span> {{ form.end_date }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-box">
                    <button type="submit" name="submit" class="full-width btn btn-primary">Save</button>
                </div>
            </div>
            {% url 'course_add' pk=program as add_course %}
            <div class="col-md-4 col-xs-12">
                {% if request.path == add_course %}
                <div class="card-box">
                    <h6>Teacher</h6>
                    <div id="msg" role="alert">
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <select id="user_1" name="user_1" class="form-control">
                                <option value="0">None</option>
                                {% for u in users %}
                                <option value="{{ u.pk }}">{{ u }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <small class="faded">You can add more teachers later</small>
                    </form>
                </div>
                {% endif %}
                <div class="card-box">
                    <h6>Program</h6>
                    <div class="form-group">
                        {{ form.program }}
                    </div>
                    <div class="form-group">
                        <span class="faded">Niveli</span> {{ form.level }}
                    </div>
                    <div class="form-group">
                        <span class="faded">Viti</span> {{ form.year }}
                    </div>
                    <div class="form-group">
                        <span class="faded">Semetri</span> {{ form.semester }}
                    </div>
                </div>
                <div class="card-box">
                    <h6>Lloji i lendes</h6>
                    <label>
                        {{ form.obligative }} Obligative
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %} {% block javascript %} {% load static %}
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}