{% extends 'base_generic.html' %}


{% block content %}
<h2>{{ course }}</h2>
{% for u in usrs %}
{{ u.course }}
<a class="label" href="{% url 'student_detail' pk=u.student.pk%}"><i class="fas fa-user-tie"></i> &nbsp; {{ u.student.first_name }} {{ u.student.last_name }}</a>
{% endfor %}
<br/>
<br/>
<hr/>
<a href="#" class="btn btn-primary"><i class="fas fa-upload"></i> Upload file</a>
<br/>
<br/>
{% load static %}
<div class="shadow-box">
    {% if files %}
    <table>
        <thead>
            <tr>
                <th>File name</th>
                <th class="text-right">Uploaded</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
        <tr>
            <td><a href="{% static 'uploads/files/' %}{{ file }}" title="{{ file }}"><i style="font-size: 18px; padding-right: 10px;" class="fas fa-file-{{ file.get_extension_short }}"></i> {{ file.name }}</a><br/></td>
            <td class="text-right">{{ file.upload_time|date:'d/m/Y - H:i' }}</td>
            <td style="width: 70px" class="text-right"><a href="#"><span class="label sm-label"><i class="fas fa-pencil-alt"></i></span></a>
                <a href="#"><span class="label sm-label"><i class="fas fa-times"></i></span></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="lead text-center">No files have been uploaded</p>
    {% endif %}
</div>
{% endblock %}