{% extends 'base_generic.html' %}


{% block content %}
<div class="container">
	{% if years %}
	<div class="row">
		{% for year in years %}
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="card-box">
			<h6>{{ year.program }}<a href="{% url 'year_edit' pk=year.pk %}" class="float-right btn-sm btn btn-third">Edit</a></h6>
			<span class="faded">Level: </span>{{ year.get_level_display }}<br>
			<span class="faded">Year: </span>{{ year.year }}<br>
			<span class="faded">Semester: </span>{{ year.semester }}
			<hr>
			<b>Courses</b><br><br>
			<div class="overflow-auto">
				{% for course in year.course.all %}
					<a href="{% url 'course_detail' pk=course.pk %}">{{ course }}</a><br>
				{% endfor %}
			</div>
			</div>
		</div>
		{% endfor %}
		
	</div>
	{% else %}
	<div class="row justify-content-center">
		<div class="col-md-6 col-xs-12">
			<div class="card-box">
				<h6>No added years</h6>
				<p class="faded">Nuk keni zgjedhur lendet per nje semester</p>
			</div>
			<div class="empty-box text-center">
				<a href="{% url 'year_add' %}" class="btn btn-primary">Zgjedh lendet</a>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}