{% extends 'base_generic.html' %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-xs-12">
        <div class="card-box">
            <h5>Grade Students in {{ course }}</h5><br/>
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {% if formset|length > 0 %}
                    {% for form in formset %}
                        <div class="row justify-content-center border-bottom input-styled">
                            {{ form.id }}
                            <div class="col-md-6 col-xs-12">
                                <label>
                                    Student<br/>
                                    {{ form.student }}
                                </label>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <label>
                                    Grade<br/>
                                    {{ form.grade }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="lead">No students</p>
                {% endif %}
                <br/>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}