{% extends 'base_generic.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="card-box">
                {% if post.picture %}
                <div class="single-post-img">
                    {% load static %}
                    <img src="{% static 'uploads/' %}{{ post.picture }}" />
                </div>
                {% endif %}
                <h4>{{ post.title }}</h4>
                <p>{{ post.content|safe }}</p>
            </div>
            {% if user.is_authenticated and user.is_superuser %}
            <div class="empty-box">
                <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
                <span class="with-popup">
                    <div class="popup p-delete">
                        <p>Are you sure you want to delete this post?</p>
                        <a href="{% url 'post_delete' pk=post.pk %}">Delete</a>
                    </div>
                    <a class="no-float btn btn-danger">Delete</a>
                </span>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="card-box">
                <h5>Latest Posts</h5>
                <ul class="list-unstyled">
                    {% for p in posts %}
                        <li><a href="{% url 'post_single' pk=p.pk %}">{{ p.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-box">
                <h5>Latest Uploads</h5>
                <ul class="list-unstyled">
                    {% load static %}
                    {% for upload in uploads %}
                        <li><a href="{% static 'uploads/' %}{{ upload.file }}">{{ upload.name }} <small><a href="#">- {{ upload.course }}</a></small></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}