{% extends 'base_generic.html' %}

{% block content %}
<h3>{{ program.name }}</h3>
<p>
    {% if program.summary %} {{ program.summary }} {% endif %}
</p>
<hr/>
{% for u in users %}
{{ student.last_name }}
{% endfor %}
<br/><br/>
<div class="shadow-box">
    {% if courses %}
    <table>
        <thead>
            <tr>
                <th>Course name</th>
                <th class="text-right">Credits</th>
            </tr>
        </thead>
    {% for course in courses %}
        <tr>
            <td><a href="{% url 'course_detail' pk=course.pk %}">{{ course }}</a></td>
            <td class="text-right"><b>{{ course.credits }}</b></td>
        </tr>
    {% endfor %}
        <tr>
            <td></td>
            <td class="text-right">Total<br/><b>{{ credits.credits__sum }}</b></td>
        </tr>
    </table>
    {% else %}
    <p class="lead text-center">There are no courses available.</p>
    <div class="text-center"><a href="{% url 'course_add' %}">Add new course</a></div>
    {% endif %}
</div>
{% endblock %}