{% extends 'base_generic.html' %}


{% block content %}
<br/>
<h2 class="text-uppercase">Choose a Program</h2>
<br/>
<div class="shadow-box">
{% if programs %}
<table>
    <thead>
        <tr>
            <th>Program name</th>
        </tr>
    </thead>
    {% for p in programs %}
        <tr>
            <td><a href="{% url 'program_single' pk=p.pk %}">{{ p }}</a></td>
        </tr>
    {% endfor %}
    </table>
    {% if user.is_superuser %}
    <br/><br/>
    <a href="#" class="btn btn-primary">Add New</a>
    {% endif %}
{% else %}
<p>There are no programs available</p>
{% endif %}
</div>
{% endblock %}