{% extends 'base_generic.html' %}

{% block content %}
<div class="card-box">
    <h3>{{ program.name }}</h3>
    {% if program.summary %}
    <p>{{ program.summary }}</p>
    {% endif %}
</div>
<div class="shadow-box">
    {% if courses %}
    <table>
        <thead>
            <tr>
                <th>Course name</th>
                <th class="text-right">Credits</th>
            </tr>
        </thead>
    {% for course in courses %}
        <tr>
            <td><a href="{% url 'course_detail' pk=course.pk %}">{{ course }}</a></td>
            <td class="text-right"><b>{{ course.credits }}</b></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <p class="lead text-center">There are no courses available.</p>
    {% if user.is_authenticated and user.is_superuser %}
    <div class="text-center"><a href="{% url 'course_add' %}">Add new course</a></div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}