{% extends 'base_generic.html' %}

{% block content %}

<div class="shadow-box">
<form class="form-spaced" action="" method="get">
    <label for="name">
        <!--<small>Name</small> <br/>-->
        <input class="form-control" placeholder="Name" value="{{ request.GET.name }}" type="text" name="name" id="name">
    </label>
    <label for="email">
        <!--<small>Email</small> <br/>-->
        <input class="form-control" placeholder="Email" value="{{ request.GET.email }}" type="email" name="email" id="email">
    </label>
    <label for="program">
        <!--<small>Program</small> <br/>-->
        <select class="form-control" name="program" id="program">
            <option value="">All</option>
            {% if programs %}
                {% for p in programs %}
                <option {% if request.GET.program == p.pk %} selected {% endif %} value="{{ p.pk }}">{{ p }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </label>
    <input type="submit" class="btn btn-primary" value="Search">
</form>
</div>
<div class="shadow-box">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Country</th>
                <th>City</th>
                <th>Program</th>
                {% if user.is_superuser and user.is_authenticated %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td class="text-center"><div class="img-round"><img src="../static/uploads/{% if s.picture %}{{ s.picture }} {% else %}no-img.png {% endif %}" /></div></td>
                <td><a href="{% url 'student_detail' pk=s.pk %}">{{ s.first_name }} {{ s.last_name }}</a></td>
                <td>{{ s.email }}</td>
                <td class="text-uppercase">{{ s.country }}</td>
                <td class="text-uppercase">{{ s.city }}</td>
                <td><a href="{% url 'program_single' pk=s.program.pk %}">{{ s.program }}</a></td>
                {% if user.is_superuser and user.is_authenticated %}
                <td style="width: 70px"><a href="#"><span class="label sm-label"><i class="fas fa-pencil-alt"></i></span></a>
                <a href="#"><span class="label sm-label"><i class="fas fa-times"></i></span></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    {% if user.is_authenticated and user.is_superuser %}
    <br/>
    <a class="btn btn-primary" href="{% url 'user_add' %}">Add new user</a>
    {% endif %}
</div>
{% endblock %}