{% extends 'base_generic.html' %}


{% block content %}
<div class="shadow-box">
    <h4>Request for password reset</h4>
    <p>You have requested to reset your password. Please write your email for us to send the confirmation link.</p>
    <br/>
    <form method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" style="margin-right: 5px" name="email" placeholder="Your email" required id="email" class="form-control">
            <input type="submit" class="btn btn-primary btn-lg" value="SEND LINK">
        </div>
    </form>
</div>
{% endblock %}