* {
    --main-color: #006992;
}

.inline-block {
    display: inline-block;
}

body {
    background-color: #fff;

}

.text-lighter {
    font-weight: lighter;
}

nav {
    padding: 15px 0;
    background-color: var(--main-color);
}

nav a {
    padding: 10px;
    color: rgba(255,255,255,.85);
}

nav a:hover {
    text-decoration: none;
    color: #fff;
}

.shadow-box {
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

table {
    width: 100%;
}

td, th {
    padding: 15px 10px;
    border-top: 1px solid #eee;
    color: #777;
}

th {
    border: none;
    color: #333;
    background-color: #fff;
    text-transform: uppercase;
}

.form-spaced label {
    margin-right: 10px;
}

.box {
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    max-height: 150px;
    min-height: 150px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border: 2px solid #eceff9;
    transition: 250ms ease;
}

.box {
    color: #6681cc;
    text-transform: uppercase;
    font-weight: bold;
}

.box:hover {
    text-decoration: none;
    border-color: #d9e0f2;
    background-color: #f2f4f9;
}

.btn {
    border: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
}

.btn-primary {
    background-color: var(--main-color);
    background-color: #fff;
    color: unset;
    border: 1px solid #ddd;
}

.btn-primary:hover {
    border-color: #007bff;
    color: #007bff;
    background-color: transparent;
}

.img-round {
    width: 65px;
    height: 65px;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.img-round > img {
    max-height: 110%;
    min-height: 100%;
}

.thumb {
    width: 125px;
    height: 125px;
}

.img-round img {
    min-height: 100%;
}

.label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #5bc0de25;
    border-radius: 5px;
    padding: 5px;
}

a:hover {
    text-decoration: none;
}

.sm-label {
    width: 25px;
    height: 25px;
    font-size: 13px;
}

form.login {
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

form.login label {
    width: 100%
}









































