* {
    --main-color: #006992;
}

.inline-block {
    display: inline-block;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
    /*min-height: 100%;*/
}

.text-lighter {
    font-weight: lighter;
}

nav {
    padding: 20px 0;
    background-color: #fff;
    /*box-shadow: 0 5px 15px rgba(0,0,0,0.07);*/
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

nav a {
    padding: 10px;
    color: rgba(0,0,0,.85);
}

nav a:hover {
    text-decoration: none;
    color: #000;
}

.shadow-box, .card-box, .empty-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    /*border-bottom: 2px solid #eee;*/
    /*box-shadow: 0 2px 3px rgba(0,0,0,0.07);*/
    display: block;
    border: 1px solid #eee;
    background-color: #fff;
}

.empty-box {
    border-color: transparent;
    background-color: transparent;
    padding: 10px 0;
}

.card-box ul {
    margin-top: 25px;
}

.card-box li, .card-box .label {
    /*padding: 6px 8px;*/
    margin-bottom: 4px;
    font-size: 15px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    transition: 150ms ease;
}

ul > a:hover > li {
    background-color: #5bc0de20;
}

.card-box li {
    padding-left: 30px;
}

table {
    width: 100%;
}

td, th {
    padding: 15px 10px;
    border-top: 1px solid #eee;
    color: #444;
}

th {
    border: none;
    color: #333;
    background-color: #fff;
    text-transform: uppercase;
}

.form-spaced label {
    margin-right: 10px;
}

.box {
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    max-height: 150px;
    min-height: 150px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border: 2px solid #eceff9;
    transition: 250ms ease;
}

.box {
    color: #6681cc;
    text-transform: uppercase;
    font-weight: bold;
}

.box:hover {
    text-decoration: none;
    border-color: #d9e0f2;
    background-color: #f2f4f9;
}

.btn {
    border: none;
    text-transform: uppercase;
    font-size: normal;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    font-size: 15px;
    padding: 6px 20px;
    padding-left: 30px;
}

.label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /*background-color: #5bc0de25;*/
    border-radius: 50px;
    background-color: #f5f5f5;
    color: #777;
    padding: 4px 10px;
    border: 1px solid #eee;
}

a.label:hover {
    background-color: #fcfcfc;
    color: #888;
}

.btn-primary, .empty-box a.btn-primary, .empty-box button.btn-primary, .btn-third, .btn-danger {
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #666;
    /*font-weight: normal;*/
    font-size: 14px;
    box-shadow: none;
    padding: 7px 30px;
}

.btn-third:hover, .empty-box a.btn-primary:hover, .empty-box button.btn-primary:hover, .card-box .btn-primary:hover, .btn-danger:hover {
    color: #222;
    background-color: #fff;
    border-color: #ddd;
}

.btn-danger:hover {
    color: #FD2258;
    border-color: #FD2258;
}

.btn-danger {
    float: right;
    color: #FD2258 !important;
}

.card-box .btn-third, .shadow-box .btn-third {
    background-color: #f5f5f5;
}

.btn-sm {
    font-size: 10px;
    padding: 5px 20px;
}

table .btn-third {
    background-color: #fff !important;
}

.with-icon {
    padding-left: 40px;
}

/*.label {
    padding: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #999;
}

.label:hover {
    color: #6B6DFB;
}*/

/*.btn-danger {
    border: 0;
    background-color: #FD2258;
    border-bottom: 3px solid #e81045;
    float: right;
}

.btn-danger:hover {
    background-color: #ff3063;
}*/

.no-float {
    float: none;
}

.img-round {
    width: 65px;
    height: 65px;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.img-round > img, .thumb > img {
    max-height: 110%;
    min-height: 100%;
}

.thumb, .post-img, .single-post-img {
    width: 125px;
    height: 125px;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.post-img, .single-post-img {
    width: 100%;
    height: 170px;
}

.single-post-img {
    height: 400px;
}

.post-img, .single-post-img {
    margin-bottom: 20px;
}

.single-post-img > img, .post-img > img {
    min-width: 100%;
}

a:hover {
    text-decoration: none;
}

form.login {
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

form.login label {
    width: 100%
}

.form-control, .input-styled input, .input-styled select {
    border: none;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    width: 100%;
    padding: 6px 10px;
}

.input-styled label {
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
}

.full-width {
    width: 100%;
    border: 1px solid #eee;
    color: #666;
}

.faded {
    color: #888;
}

/*
form label, input[type=number], select, input[type=text] {
    width: 100%;
}
*/
.border-bottom {
    border-bottom: 1px solid #eee !important;
    padding: 4px 0 4px 0;
    margin: 4px 0 4px 0px;
}

.material-icons, .label .material-icons {
    position: absolute;
    left: 0;
}

.with-popup .label .material-icons {
    position: unset;
}

.label .material-icons, p > .material-icons {
    left: unset;
    font-size: 20px;
}

p > .material-icons {
    position: unset;
    font-size: 50px;
}

.btn .material-icons {
    /*position: unset;*/
    left: 5;
}

td {
    position: relative;
    /*padding-left: 25px;*/
}

td > .material-icons {
    color: #000;
}

select:disabled {
    background-color: #fff !important;
}

.slight-bottom {
    margin-bottom: -30px;
    margin-top: 30px;
}

.no-abs {
    position: unset;
}

footer {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 50px;
}

.post {
    color: #000;
    margin-bottom: 25px;
}

.pagination {
    margin-top: 25px;
    justify-content: center;
}

.pagination a {
    padding: 5px 11px;
    color: #000;
    background-color: #fff;
    border-bottom: 2px solid #eee;
    /*border: 1px solid #eee;*/
}

.pagination a b {
    color: #6B6DFB;
}

.with-popup {
    position: relative;
}

.popup {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px 15px;
    display: none;
    width: 300px;
    background-color: #fff;
    border: 1px solid #eee;
    border-bottom: 3px solid rgba(0,0,0,0.06);
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.08);*/
    border-radius: 8px;
}

.with-popup a {
    cursor: pointer;
}

.popup a {
    padding: 5px 20px;
    border-radius: 50px;
    transition: 150ms ease;
}

.p-delete {
    /*color: #FD2258;*/
    /*background-color: #FD2258;*/
    /*border-bottom: 3px solid #e81045;*/
    /*color: #fff;*/
}

.p-delete a {
    background-color: rgba(253, 34, 88, .10);
    color: rgba(253, 34, 88, .9);
}

.p-delete a:hover {
    background-color: rgba(253, 34, 88, .16);
    color: rgba(253, 34, 88, .9);
}

/*.with-popup:hover .popup {
    display: block;
}*/

.grades {
    /*display: none;*/
    min-width: 550px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.sm-label {
    width: 25px;
    height: 25px;
    font-size: 12px;
}

.abs-popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 9999;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}


















